<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>✨My portfolio - Othman Adi✨</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

<div class="body">
    <div class="el NavBar">
        <div class="Brand">
            <h1>Adi</h1>
        </div>

        <div class="pagesList">
            <ul>
                <li>Home</li>
                <li>Contact</li>
                <li>Prices</li>
            </ul>
        </div>
    </div>

    <div class="el LeftSideMenu">
        <p>LeftSideMenu</p>
    </div>

    <div class="el RightSideMenu">
        <p>RightSideMenu</p>
    </div>

    <div class="el PageContent">
        <p>PageContent</p>
    </div>

    <div class="el Footer">
        <p>Footer</p>
    </div>
</div>

</body>
</html>
